.input-container {
  width: 100%;
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-row {
  margin-top: -5px;
}

.input-label {
  margin-top: -5px;
  margin-left: 10px;
  float: left;
  font-family: 'Avenir';
  font-weight: lighter;
}

.checkbox {
  float: left;
  margin-left: 15px;
}

.highlighted {
  background-color: #EEF5FF;
}
